POSTGRES_USER=postgres
# Set your password here
POSTGRES_PASSWORD=yourpassword

POSTGRES_DB=devflow

# Repeat the same password in the connection string below
DATABASE_URL=postgresql://postgres:yourpassword@db:5432/devflow

BACKEND_PORT=8000
FRONTEND_PORT=5173

VITE_API_URL=http://localhost:8000 # Backend's URL that frontend uses